@import url(//fonts.googleapis.com/css?family=Roboto:400,700);
body {
	background-color:#000;
}
img#bg {
	position:fixed;
	width:100%;
	height:100%;
	left:0px;
	top:0px;
	z-index:-1;
}
.h1-landing {
	font-family: 'Roboto', sans-serif;
	font-size: 48;
	font-weight: bold;
}
.h2-landing {
	font-family: 'Roboto', sans-serif;
	font-size: 24;
}
.h3-landing {
	font-family: 'Roboto', sans-serif;
	font-size: 18;
}
.p-landing {
	font-family: 'Roboto', sans-serif;
	font-size: 14;
}